<style>
  body{
font-family: 'Solaimanlipi';
}
.navbar{
    min-height: 70px;
}
.container-fluid{
    padding-left: 70px;
}
li.addButton{
    padding-top: 18px;
}
form.addButton{
    padding-top: 8px;
}
div.jumbotron{
    margin: 5%;
    padding:10px 50px;
}
.jumbotron h1{
    font-size: 30px;
}
header h1{
    font-size: 30px;
}
h2{
    font-size: 18px;
}
.jumbotron p{
    font-size: 15px;
}
hr{
    border-color: black;
}
</style>
<div data-ng-controller="detailCtrl">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
          aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/angularWP"><img src="https://www.matritto.com/wp-content/uploads/2017/02/text2985-3.png"
            height="45" </a> </div> <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><a href="#">
                  <h4>আমাদের কথা</h4><span class="sr-only">(current)</span>
                </a></li>
              <li><a href="#">
                  <h4>যোগাযোগ</h4>
                </a></li>
              <li class="addButton"><button class="btn btn-default" ng-click="toggleAddPost=!toggleAddPost">নতুন
                  লেখা</button></li>

            </ul>
            <form class="navbar-form navbar-right addButton" ng-submit="doSearch()">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="খোঁজ দ‌্যা সার্চ" ng-model="searchTerm">
              </div>
            </form>



          </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
  </nav>
  <div class="jumbotron">
    <header>
      <h1>{{post.title.rendered}}</h1>
    </header>
    <p ng-bind-html="post.content.rendered" class="">
      
    </p>
  </div>

  <!--<div data-ng-view></div>-->
</div>