<style>
    body{
font-family: 'Solaimanlipi';
}
.navbar{
    min-height: 70px;
}
.container-fluid{
    padding-left: 70px;
}
li.addButton{
    padding-top: 18px;
}
form.addButton{
    padding-top: 8px;
}
div.jumbotron{
    margin: 5%;
    padding:10px 50px;
}
.jumbotron h1{
    font-size: 20px;
}
hr{
    border-color: black;
}
</style>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/angularWP"><img src="https://www.matritto.com/wp-content/uploads/2017/02/text2985-3.png"
                    height="45" </a> </div> <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="#">
                                <h4>আমাদের কথা</h4><span class="sr-only">(current)</span>
                            </a></li>
                        <li><a href="#">
                                <h4>যোগাযোগ</h4>
                            </a></li>
                        <li class="addButton"><button class="btn btn-default" ng-click="toggleAddPost=!toggleAddPost">নতুন
                                লেখা</button></li>

                    </ul>
                    <form class="navbar-form navbar-right addButton" ng-submit="doSearch()">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="খোঁজ দ‌্যা সার্চ" ng-model="searchTerm">
                        </div>
                    </form>



                </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
</nav>

<div>

    <div data-ng-show="!apiLoaded">
        <img src="assets/loader.gif" />
    </div>
    <div data-ng-show="apiLoaded">

        <!-- <form ng-submit="doSearch()" class="form">
            <input type="text" name="search" ng-model="searchTerm" placeholder="Enter Search Query">
        </form> -->

        <div class="jumbotron" ng-show="toggleAddPost">
            <h3>নতুন লেখা যোগ করুন</h3>

            <form ng-submit="addNewPost()">
                <div class="form-group">
                    <label for="post_title"><strong>লেখার শিরোনাম</strong></label>
                    <input type="text" name="post_title" placeholder="এখানে শিরোনাম লিখুন" ng-model="postTitle" class="form-control">
                </div>
                <div class="form-group">
                    <label for="post_body"><strong>মূলবক্তব্য</strong></label>
                    <textarea name="post_body" id="" cols="30" rows="10" placeholder="এখানে লিখুন আপনার মনের কথা"
                        ng-model="postBody" class="form-control"></textarea>
                </div>
                <div>
                    <input type="submit" value="সাবমিট করুন" class="btn btn-primary">
                </div>

            </form>
        </div>

        <div class="jumbotron">
            <h3 class="text-center">সর্বশেষ সংযোজন</h3>
            <section>
                <article class="article" ng-repeat="post in posts">
                    <a ui-sref="detail({slug:post.slug,singlePost:post})">
                        <header>
                            <h1 ng-bind-html="post.title.rendered">
                                {{post.title.rendered}}
                            </h1>
                        </header>
                    </a>
                    <div class="post-content" ng-bind-html="post.excerpt.rendered">
                    </div>
                    <hr>
                </article>
            </section>
            <pagination ng-show="apiLoaded" ng-model="currentPage" total-items="totalElements" max-size="maxSize"
                boundary-links="true">
            </pagination>
        </div>
    </div>
</div>